* {
	padding:0px;
	margin:0px;
	border:0px;
}

html {
	min-height:100%;
	height: 100%;
	width:100%; 
	padding:0px;
	margin:0px;
	border:0px;
}

body {
	min-height:100%;
	min-width:100%;
	height: 100%;
	padding:0px;
	margin:0px;
	border:0px;
	background: #cecece url('img/bg.gif');
	color: #222;
	font-family:calibri;
	font-size:14px;
	text-align:left;
}

#container {
	width: 100%;
	height: 100%; 
	float: left;
}

#bear {
	background: url('img/bear.png');
	width: 164px;
	height: 300px;
	position: relative; 
	margin: auto;
	margin-top: 10% ;
	-webkit-animation: spin 7s infinite linear;
	-moz-animation: spin 7s infinite linear;
	-o-animation: spin 7s infinite linear;
	-ms-animation: spin 7s infinite linear;
}

	@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
	}
	@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg);}
	100% { -moz-transform: rotate(360deg);}
	}
	@-o-keyframes spin {
	0% { -o-transform: rotate(0deg);}
	100% { -o-transform: rotate(360deg);}
	}
	@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg);}
	100% { -ms-transform: rotate(360deg);}
	}